<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A Snippet</title>
  </head>
  <body>
    <h5>Add a Snippet</h5>
    <form class="add-snippet" action="/add/complete" method="post">
      <label for="title">Title: </label>
      <input type="text" name="title" value=""><br><br>
      <label for="body">Body: </label>
      <textarea name="body" rows="8" cols="80"></textarea><br><br>
      <label for="notes">Notes: </label>
      <textarea name="notes" rows="8" cols="80" placeholder="Optional"></textarea><br><br>
      <label for="language">Language: </label>
      <input type="text" name="language" value=""><br><br>
      <label for="tags">Tags: </label>
      <input type="text" name="tags" value=""><br><br>
      <button type="submit" name="submit">Add a Snippet</button>
    </form>
  </body>
</html>
