<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippet Saver</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Code Snippet Saver</h1>
      <h4>Please Login to Begin Saving Snippets</h4>
    </header>
    <form class="login" action="login" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" value="">
      <label for="password">Password: </label>
      <input type="password" name="password" value="">
      <button type="submit" name="login">Login</button>
    </form>
    <h4>If You Are a New Register, Please Click the Button Below to Create an Account</h4>
    <a href="/register"><button type="button" name="register">Register</button></a>
  </body>
</html>
