<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register - Code Snippet</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Code Snippet Saver</h1>
      <h4>Please Register to Begin Saving Snippets</h4>
    </header>
    <form class="register" action="/register/complete" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" value="">
      <label for="password">Password: </label>
      <input type="password" name="password" value="">
      <button type="submit" name="login">Register</button>
    </form>
  </body>
</html>
